<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team14.expenseexpress"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
        <!-- Add permission for camera (android.permission.CAMERA) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Add permission for writing to external storage (android.permission.WRITE_EXTERNAL_STORAGE) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- As our application does not require a real camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

 
       
        
            



    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="18" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="team14.expenseexpress" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="team14.expenseexpress.activity.LoginActivity"
            android:label="LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="team14.expenseexpress.activity.ClaimListActivity"
            android:label="@string/title_activity_claim_list" >
        </activity>
        <activity
            android:name="team14.expenseexpress.activity.ExpenseListActivity"
            android:label="@string/title_activity_expense_list"
            android:parentActivityName="ca.ualberta.UI.ClaimListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.UI.ClaimListActivity" />
        </activity>
        <activity
            android:name="team14.expenseexpress.activity.NewClaimActivity"
            android:label="@string/title_activity_new_claim" >
        </activity>
        <activity
            android:name="team14.expenseexpress.activity.ExpenseEditActivity"
            android:label="@string/title_activity_expense_edit"
            android:parentActivityName="ExpenseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ExpenseListActivity" />
        </activity>
        <activity
            android:name="team14.expenseexpress.activity.ExpenseDetailsActivity"
            android:label="@string/title_activity_expense_details"
            android:parentActivityName="ExpenseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ExpenseListActivity" />
        </activity>
        <activity
            android:name="team14.expenseexpress.receipt.ReceiptAddActivity"
            android:label="@string/title_activity_receipt_add"
            android:parentActivityName="ExpenseEditActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ExpenseEditActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Image capture in Standard mode -->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <!-- Image capture in Still mode -->
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="team14.expenseexpress.activity.ClaimEditActivity"
            android:label="@string/title_activity_claim_edit"
            android:parentActivityName="team14.expenseexpress.activity.ClaimListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team14.expenseexpress.activity.ClaimListActivity" />
        </activity>
        <activity
            android:name="team14.expenseexpress.activity.EditTags"
            android:label="@string/title_activity_edit_tags"
            android:parentActivityName="team14.expenseexpress.activity.ClaimEditActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team14.expenseexpress.activity.ClaimEditActivity" />
        </activity>
        <activity
            android:name="team14.expenseexpress.activity.EditDestinations"
            android:label="@string/title_activity_edit_destinations"
            android:parentActivityName="team14.expenseexpress.activity.ClaimEditActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team14.expenseexpress.activity.ClaimEditActivity" />
        </activity>
        <activity
            android:name="team14.expenseexpress.receipt.ViewReceiptActivity"
            android:label="@string/title_activity_view_receipt" >
        </activity>
        <activity
            android:name="team14.expenseexpress.activity.ClaimDetailsActivity"
            android:label="@string/title_activity_claim_details"
            android:parentActivityName="ClaimListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ClaimListActivity" />
        </activity>
        <activity
            android:name="team14.expenseexpress.LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name="team14.expenseexpress.HomeGeo"
            android:label="@string/title_activity_home_geo" >
        </activity>
                <activity
            android:name="team14.expenseexpress.maps.MapActivity"
             >
        </activity>
               <activity
            android:name="team14.expenseexpress.activity.ReturnClaimActivity"
             >
        </activity>
    </application>

</manifest>
